html {
    font-size: 10px;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    list-style: none;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1.8rem;
    background-color: #003c4d;
}

img {
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

h1 {
    font-size: 2.6rem;
    font-weight: 900;
    justify-content: space-between;
}

h2 {
    font-size: 2rem;
    font-weight: 900;
}

/* ===============  first-section start  ==================== */

.banner {
    height: 100vh;
}

.navbar-brand img {
    width: 5rem;
    height: 5rem;
}

.text-light {
    color: #fff !important;
}

.text-info {
    color: #9bc0ff !important;
}

.nav-item a:not(.btn) {
    color: #fff !important;
}

.nav-item a:not(.btn):hover {
    color: #9bc0ff !important;
}

.btn {
    font-size: 1.8rem;
    padding: 1rem 3rem;
}

.carousel-item img{
    width: 100%;
    height: calc(100vh - 87px); 
}

/* ===============  first-section end  ==================== */


/* ===============  second-section start  ==================== */


.about {
    padding: 10rem 12rem;
    background-color: #002b3b;
}

.about-text {
    width: 100%;
}

.accordion-button {
    background-color: #003c4d !important;
    
}

.prgress-bar {
    background-color: #003c4d !important;
}

/* ===============  second-section end  ==================== */


/* ===============  third-section start  ==================== */

.hover-box {
    display: none !important;
    opacity: 0.8;
}

.hover-box .btn {
    background-color: transparent !important;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10rem;
}

.hover-box .btn:hover {
    background-color: #fff !important;
    color: #3693d6;
}

.work-item:hover .hover-box {
    display: flex !important;
    border-radius: 10px;
}

.work__image {
    height: 40rem;
    object-fit: cover;
    border-radius: 10px;
}

.work__image_helf {
    height: 19.5rem !important;
}

/* ===============  third-section end  ==================== */


/* ===============  fourth-section start  ==================== */

.testimonial {
    padding: 10rem 0;
}

.testimonial .img-box {
    width: 14rem;
    margin: 0 auto 2rem;
}

.testimonial__content {
    width: 30%;
    color: #fff !important;
    letter-spacing: 2px;
}

.owl-dots {
    margin-top: 4rem;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.owl-prev {
    left: 30%;
    color: #fff !important;
}

.owl-next {
    right: 30%;
    color: #fff !important;
}

.owl-prev:hover,
.owl-next:hover {
    background-color: transparent !important;
    color: #3693d6 !important;
}

.owl-nav .disabled {
    display: none !important;
}

/* ===============  fourth-section end  ==================== */


/* ===============  footer start  ==================== */

footer {
    background-color: #002b3b;  
}

.footer__logo-link img {
    width: 13rem;
    height: 5rem;
}

/* ===============  footer end  ==================== */


/* ===============  Responsiv 992px  ==================== */

@media (max-width: 992px) {

    html {
        font-size: 14px;
    }

    .navbar-brand img {
        width: 5rem;
        height: 3rem;
    }

    .navbar-toggler-icon {
        width: 25px;
        height: 25px;
    }

    .banner {
        height: 100vh;
    }

    .nav-item {
        padding: .5rem 0;
    }

    .about__text {
        width: 90%;
    }

    .accordion {
        width: 100% !important;
    }

    .work__image,
    .work__image_helf {
        height: 40rem !important;
    }

    .testimonial__content {
        width: 50%;
    }

    .owl-prev {
        left: 10%;
    }

    .owl-next {
        right: 10%;
    }

    .social-item img {
        height: 3rem;
    }
}

@media (max-width: 768px) {

    html {
        font-size: 12px;
    }

    .banner {
        width: 100%;
        height: 75vh;
    }

    .carousel-inner img{
        width: 100%;
        height: 55vh;
    }

    .about {
        padding: 10rem 8rem;
    }

    .about__text {
        width: 100% !important;
    }

    .testimonial__content {
        width: 60%;
    }

    .social-item img {
        height: 2rem;
    }
}

@media (max-width: 576px) {

    html {
        font-size: 8px;
    }
    .navbar-brand h1 {
        display: none !important;
    }

    .banner {
        height: 55vh;
    }

    .carousel-inner img{
        width: 100%;
        height: 40vh; 
    }

    .about {
        padding: 12rem 3rem;
    }

    .about__text {
        width: 100% !important;
    }

    .work-item__wrapper p {
        display: none !important;
    }

    .work-item__wrapper h2 {
        margin-bottom: 3rem;
    }

    .testimonial__content {
        width: 90%;
    }

    .owl-prev,
    .owl-next {
        display: none !important;
    }

    .social-item img {
        width: 100%;
        height: 3.5rem;

    }
}
